@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uoly5x');
  src:  url('../fonts/icomoon.eot?uoly5x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uoly5x') format('truetype'),
    url('../fonts/icomoon.woff?uoly5x') format('woff'),
    url('../fonts/icomoon.svg?uoly5x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icons-"], [class*=" icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-handshake-deal-svgrepo-com-1:before {
  content: "\e900";
}
